@model App.Models.ProdutoCategoriaViewModel;

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card>img {
        height: 17rem;
        border-radius: 5px;
        object-fit: cover;
    }

    .card {
        margin: 3px;
        background-color: #e7d7cb;

    }

    .botao {
        color: #CC9A06;
        background-color: #423390;
        text-decoration: none;
        padding: 6px;
        border: solid 1px black;
        border-radius: 5px;
    }
</style>
<main>
    <section id="meucarrosel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#meucarrosel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#meucarrosel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#meucarrosel" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="~/Img/Banner1.jpg" class="w-100 d-block">
            </div>

            <div class="carousel-item">
                <img src="~/Img/Banner2.jpg" class="w-100 d-block">
            </div>

            <div class="carousel-item">
                <img src="~/Img/Banner3.jpg" class="w-100 d-block">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#meucarrosel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden"> Anterior </span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#meucarrosel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden"> Próximo </span>
        </button>
    </section>

    <hr>

    <div class="d-flex flex-wrap justify-content-center mt-4">
        <form class="d-flex align-items-center no-print mt-3" asp-action="Index" method="get">
            <input type="text" name="txtFiltro" placeholder="Digite aqui o que procura" value="@ViewBag.txtFiltro"
                class="form-control">
            <button class="botao" type="submit"><i class="bi bi-search"></i> Buscar</button>
            <select name="selOrdenacao" class="form-control mx-2">
                <option value="Nome">Ordenar por nome</option>
                <option value="MenorPreço">Ordenar por menor preço</option>
                <option value="MaiorPreço">Ordenar por maior preço</option>
                <option value="Categoria">Ordenar por categoria</option>
            </select>

        </form>

        <div class="d-flex justify-content-center no-print mt-4">
            <ul class="pagination">
                @{
                    string primeira = "";
                    string ultima = "";
                }

                @if (!Model.ListaProduto.HasPreviousPage)
                    primeira = "disabled";

                @if (!Model.ListaProduto.HasNextPage)
                    ultima = "disabled";

                @for (int i = 1; i <= Model.ListaProduto.PageCount; i++)
                {
                    <li class="page-item pagi @(i == Model.ListaProduto.PageNumber ? "active" : "")">
                        <a class="page-link pagi" asp-route-pagina="@i" asp-route-txtFiltro="@ViewData["txtFiltro"]">@i</a>
                    </li>
                }

            </ul>
        </div>

        <div class="d-flex flex-wrap gap-1 justify-content-center no-print">
            @foreach (var item in Model.ListaCategoria)
            {
                <a class="botao mx-2 mb-4" asp-route-Categoria="@item.CategoriaNome">@item.CategoriaNome</a>
            }
        </div>
    </div>

    <hr>

    <div class="mb-5 row gap-3 justify-content-center">
        @foreach (var item in Model.ListaProduto)
        {
            <div class="card col-9 col-md-5 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="@Html.DisplayFor(Modelitem => item.Foto)" alt="Imagem de capa do card">
                    <div class="card-body text-center">
                        <h5 class="card-title">@Html.DisplayFor(Modelitem => item.Nome)</h5>
                        <p class="card-text">@item.Preco.ToString("C")</p>
                        <a href="/Login/Index" class="btn btn-secondary ">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
